
*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgba(245, 169, 245, 0.919);

}

.topnav{
    width: 100%;
    height: 70px;
    background-color: rgba(219, 102, 219, 0.547);
    color: white;
    font-size: 30px;
    position: fixed;
    margin: 0px 0px;
    z-index: 99999999999999999;
    backdrop-filter: blur(10px);
}
.topnav .search{

margin: 20px 720px;
position: fixed;
cursor: pointer;

}
.topnav .logo {
    margin: 9px 9px;

    position: fixed;
    height: 50px;
    width: 50px;
    position: absolute;

}
.searchbar{
    height: 35px;
    width: 600px;
    margin: 15px 110px;
    background-color: rgb(255, 206, 255);
    border: 0px solid red;
}
.searchbar:focus{
    box-shadow: inset 0px 0px 4px 4px rgb(255, 255, 255);
}

.topnav .logos{
    column-gap: 60px;
    list-style: none;
    margin: -50px 1300px;
    display: flex;
    width: 900px;
}
.topnav .logos i{
    width: 20px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.topnav .logos i:hover{
    color: rgb(142, 87, 142);

}
.options{
    position: absolute;
    display: flex;
    column-gap: 40px;
    list-style: none;
    font-size: 20px;
    margin: 80px 450px;
    z-index: 10;
}
.options a{
    color: purple;
    text-decoration: wavy;
}
.options li:hover{
    color: aliceblue;
}
.submenu{
    left: 720px;
    position: absolute;
    top: 110px;
    opacity: 0;
    z-index: 1;
    background-color: antiquewhite;
}
.options li:hover ul.submenu{
    opacity: 1;
    visibility: 1;
    z-index: 20;
}
.slider{
    height: 700px;
    width: 1480px;
    margin: 430px 760px;
    transform: translate(-50% ,-50%);
    position: absolute;
    overflow: hidden;
    
}
.wrapper{
    width:100%;
    display: flex;
    animation: slide 28s infinite;
}
@keyframes slide{
    0%{
        transform:translateX(0);
    }
    25%{
        transform:translate(0);
    }
    30%{
        transform:translate(-100%);
    }
    50%{
        transform:translate(-100%);
    }
    55%{
        transform:translate(-200%);
    }
    75%{
        transform:translate(-200%);
    }
    80%{
        transform:translate(-300%);
    }
    100%{
        transform:translate(-300%);
    }
}

img{
    width: 1480px;
    opacity: 80%;
}   
.category
{
    margin: 900px 500px;
    font-size: 4em;
    font-weight: 100;
    position: absolute;
    color: aliceblue;
}
.txt{
    font-size: 20px;
    margin: 0px 10px;
}
.all
{
    height: 50px;
    width: 400px;
    position: absolute;
    margin: 1100px 30px;

}
ul{
    list-style: none;
    display: flex;
    column-gap: 70px;
}
.all ul img{
    height: 300px;
    width: 300px;
}
.all li img:hover{
   margin-top: -25px;
   transition: .5s;

   box-shadow: 0px 30px 50px black;
}
.box4
{
position: absolute;
height: 2px;
width: 490px;
margin: 1670px 1040px;
color: aliceblue;
font-size: 4em;
z-index: 999999;
}
.box3
{
position: absolute;
height: 2px;
width: 490px;
margin: 1670px 430px;
color: aliceblue;
font-size: 4em;
z-index: 999999;
}
.collection{
    position: absolute;
    margin: 1680px 500px;
    font-size: 4em;
    color: aliceblue;
    width: 600px;
}

.all2{
    position: absolute;
    margin: 1880px 30px;
    height: 50px;
    width: 400px;
}

.all2 ul img{
    height: 300px;
    width: 300px;
}
.all2 li img:hover{
    margin-top: -25px;
    transition: .5s;
    box-shadow: 0px 30px 50px black;
}
.new{
    position: absolute;
    margin: 2500px 500px;
    font-size: 4em;
    color: whitesmoke;
    width: 700px;
}

.all3{
    position: absolute;
    margin: 2680px 30px;
    height: 50px;
    width: 400px;
}

.all3 ul img{
    height: 300px;
    width: 300px;
}
.all3 li img:hover{
    margin-top: -25px;
    transition: .5s;
    box-shadow: 0px 30px 50px black;
}
.box
{
position: absolute;
height: 2px;
width: 490px;
margin: 890px 430px;
color: aliceblue;
font-size: 4em;
z-index: 999999;
}
.box2
{
position: absolute;
height: 2px;
width: 490px;
margin: 890px 980px;
color: aliceblue;
font-size: 4em;
z-index: 999999;
}